<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="readfile.js"></script>

  </head>
  <body>
    <div id="MainHeader">
      <div class="img">
        <img src="images/WebsiteLogo.png" alt="Team Logo">
      </div>
    </div>

    <div id="MainBackground">
      <div class="img">
        <img src="images/backgroundImage.png" alt="Website Image">
      </div>
    </div>

    <div id="MainHeader">
      <p><font face="Palatino Linotype" size="5">We aim to help you visualize all app usages through mobile providers at any selected location</font></p>
    </div>
    <div id="MainBody">



      <form action="query1" method="get">
        Longitude: <input type="text" name="longitude"><br>
        Latitude: <input type="text" name="lati tude"><br>

        Radius:  <select name="radius">
          <option value="< 0.1"> Closer than 0.1 Miles</option>
          <option value="< 0.05"> Closer than 0.05 Miles</option>
          <option value="< 0.025"> Closer than 0.025 Miles</option>
          <option value="< 0.001">Closer than 0.001 Miles</option>

        </select><br>


      <div id="new_date">
          <br>
          Start Time <input type=date min=2015-09-01>
          <input type=time step=3600>
          <br>
          End Time <input type=date min=2015-09-01>
          <input type=time step=3600>
          <br>
      </div>

        Package Name (You name it): <input type="text" name="package"><br>

        <input type="submit" value="Submit">

      </form>
   </div>

    <footer content="center">
      <p>Posted by: Brett, Hudson, Jacky, Jonathan. UCI Hackathon 2016</p>
    </footer>
  </body>
</html>
