<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="readfile.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="query1" method="get">

      Longitude: <input type="text" name="longitude"><br>
      Latitude: <input type="text" name="latitude"><br>
        Package Name: <input type="text" name="package"><br>
      Start Time:  <input type="datetime" name="startTime"><br>
      End TIme:  <input type="datetime" name="endTime"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
