<!DOCTYPE html>
<html>

    <head>
        <title>Result from September 2, 2015</title>
        <link rel='stylesheet' href='/stylesheets/styleResults.css' />
        <script type="text/javascript" src="d3parser.js.js"></script>
        <script src="http://dimplejs.org/dist/dimple.v2.2.0.min.js"></script>
        <script src="https://d3js.org/d3.v4.0.0-alpha.40.min.js"></script>
    </head>

    <body>
        <div id="chartContainer"></div>
        <h1 align="center"> D3.js for M2Catalyst Data for September 2, 2015</h1>
        <div id="container">
            <div id="BarGraph1"></div>
        </div>
    </body>

</html>
